@model MyBudget.ViewModel.BillTransactionVm

@{
    ViewBag.Title = "AddNewBillPayment";
    Layout = "~/Views/Layouts/_Header.cshtml";
}

<h2>Bill Payment Management</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Bill Payment</h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" id="addNewBillTransactionForm" method="post" action="@Url.Action("AddNewBillTransactionPost", "Transaction")">
            <div class="form-group ">
                <label for="paymentDestination" class="col-sm-2 control-label">Payment Destination* (required)</label>
                <div class="dropdown col-md-3" >
                    <select class="form-control" id="paymentDestination" name="paymentDestination">
                        @foreach (var item in @Model.PaymentDestinations)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="amount" class="col-sm-2 control-label">Amount* (required)</label>
                <div class="col-md-3">
                    <input type="number" class="form-control" id="amount" name="amount" value="" required>
                </div>
            </div>
            <div class="form-group">
                <label for="transactionDate" class="col-sm-2 control-label">Transaction Date*</label>
                <div class=" col-sm-1">
                    <input type="text" class="input-group" id="transactionDate" name="transactionDate" value="@Model.TransactionDateTime" >
                </div>
            </div>
            <div>
                <button class="btn btn-primary" type="submit" id="btnAddNewpaymentDestination">Add new Bill payment</button>
            </div>
        </form>
    </div>
</div>
